<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.epam.auctionhouse.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignUpPage</servlet-name>
		<jsp-file>/pages/signup.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpPage</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignInPage</servlet-name>
		<jsp-file>/pages/signin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInPage</servlet-name>
		<url-pattern>/SignIn</url-pattern>
	</servlet-mapping>

    <servlet>
		<servlet-name>OfferLot</servlet-name>
		<jsp-file>/pages/offer_lot.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>OfferLot</servlet-name>
		<url-pattern>/OfferLot</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>RoleFilter</display-name>
		<filter-name>RoleFilter</filter-name>
		<filter-class>by.epam.auctionhouse.filter.RoleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RoleFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>by.epam.auctionhouse.listener.ServletListener</listener-class>
	</listener>
 <error-page>
    <error-code>401</error-code>
    <location>/pages/errors/401.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/errors/404.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/pages/errors/403.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/errors/500.html</location>
  </error-page>
</web-app>